$anthrazit: #2B2E34;
$grey: #A5ACAD;
$lightgrey: #D0D7D9;
$blue: #41C2E8;

.like__wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 9px;
  text-transform: uppercase;
  color: $grey;
  bottom: 0;
  align-self: flex-end;
  margin-left: 1rem;

  @include media(l) {
    margin-left: 0;
    font-size: 11px;
  }

}

.like__erscheinung {
  width: 30%;
  flex-grow: 1;
  letter-spacing: 0.05em;
}

.like__kolumne {
  width: 30%;
  flex-grow: 1;
  letter-spacing: 0.05em;
  color: white;
  padding-left: 0;
  padding-right: 0.8rem;

  @include media(l) {
    width: 30%;
    flex-grow: 1;
    letter-spacing: 0.05em;
    color: white;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.like__button {
  width: 3rem;
  flex-grow: 0;
  bottom: 1rem;
}

.like__buttonkolumne {
  width: 3rem;
  flex-grow: 0;
  bottom: 1rem;
  color: white;
  margin-right: 0.3rem;
}

strong {
  font-weight: 500;
  color: $anthrazit;
}


.erscheinung {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  float: left;
  margin-left: 1.2rem;
}

.like__btn {
  color: inherit;
  border: 0;
  box-shadow: none;
  background: transparent;
  text-shadow: none;
  margin: 0;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: right;
  float: right;
  overflow: hidden;


  &:focus {
    outline: 0 !important;
  }
}

.like {
  float: right;
  width: 60px;
  height: 30px;
}
