

.footer {
  position: relative;
  width: 100%;
  background-color: $lightgrey;
  height: 9rem;
  z-index: 99;
  text-align: center;
}

a.footer {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $anthrazit;
}

a.footer__item {
  color: $anthrazit;
}

a.footer:hover,
a.footer__footer__item--active {
  color: white;
}

a.footer:hover {
  border-color: $blue;
}

a.footer__item--active {
  border-color: $blue;
}

a.footer:visited {
  color: white;
}

.footer-bottom {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.footer-bottom__middle {
  display: flex;
  justify-content: center;
}

.footer__item {
  white-space: nowrap;
}
/* space between the items */
.footer__item + .footer__item {
  margin-left: 1.5em;
  @include media(l) {
    margin-left: 3em;
  }
}

.copyright {
  font-size: 12px;
  padding-top: 1rem;
  color: white;
}
