// Footer

.footer {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1fr 1fr 0.2fr;
    column-gap: 2%;
  }

  .footer-1 {
    grid-column: 1 / 15;
    grid-row: 1 / 2;
    height: 6rem;
    align-content: center;
    text-align: center;
    background-color: $lightgrey;
    @include media(m) {

    }
  }

  .footer-2 {
    grid-column: 1 / 15;
    grid-row: 2 / 3;
    height: 6rem;
    display: flex;
    align-content: center;
    text-align: center;
    background-color: $lightgrey;
    @include media(m) {

    }
  }

  .footer-3 {
    grid-column: 1 / 15;
    grid-row: 3 / 4;
    height: 2rem;
    background-color: $anthrazit;
    @include media(m) {

    }
  }

  .footer__item--active,
  .footer:hover {
    color: $anthrazit;
  }
  .footer:hover {
    border-color: $blue;
  }
  .footer__item--active {
    border-color: $blue;
  }
  .footer:visited {
    color: $anthrazit;
  }
  /* column */


  .footer__inner {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: none; /* no-scrollbar: firefox */
  }
  .footer__inner::-webkit-scrollbar {
    display: none; /* no-scrollbar: Safari and Chrome */
  }

  /* at the end of the list we add space*/
  .footer__inner:after {
    display: block;
    content: "";
    width: 1.25em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1.25em;
  }

  /* don't wrap within the items */
  .footer__item {
    white-space: nowrap;
  }

  /* space between the items */
  .footer__item + .footer__item {
    margin-left: 3em;
  }

  .copyright {
    display: grid;
    font-size: 12px;
    float: right;
    color: white;
    margin-right: 7rem;
    margin-top: 0.5rem;
  }
