// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

img.iconbig {
  width: 4%;
  float: right;
}

img.iconsmall {
  width: 40%;
  float: right;
}

img.wetter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
