// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.7rem;
}

img.iconbig {
  width: 4%;
  float: right;
}

img.iconsmall {
  width: 40%;
  float: right;
}

img.wetter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

img.footer {
  width: 10rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.werbung {
  margin-bottom: 0;
}

.mobile-image {
  display: block;
}
.desktop-image {
  display: none;
}
@include media(l) {
.mobile-image {
  display: none;
}
.desktop-image {
  display: block;
 }
}
