// Link Handling

img {
  display: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.7rem;
  float: left;
}

img.iconbig {
  width: 4%;
  float: right;
}

img.iconsmall {
  width: 40%;
  float: right;
}

img.wetter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

img.Logo {
  flex-grow: 0;
  float: left;
  width: 10rem;
  height: auto;
  margin-left: 1rem;
  margin-top: 0;
  padding-top: 0.2rem;
}

img.headerwetter {
  position: relative;
  float: left;
  width: 4.5rem;
  height: 70%;
  margin-top: 0;
  padding-top: 0.2rem;
}

img.profile {
  position: relative;
  float: right;
  width: 3rem;
  height: 70%;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 0;
}

img.footer {
  width: 7rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.werbung {
  margin-bottom: 0;
}
