// Haupt SCSS
// Hier werden alle weiteren SCSS geladen.

// for media-query
@import "./helpers/media/mixin";

// colors
$anthrazit: #2B2E34;
$grey: #A5ACAD;
$lightgrey: #D0D7D9;
$blue: #41C2E8;

// components
@import "./components/Debug/mixin";
@import "./components/_root";
@import "./components/body";
@import "./components/Debug/styles";
@import "./components/heading";
@import "./components/a";
@import "./components/p";
@import "./components/image";
@import "./components/container";
@import "./components/grid";
@import "./components/Menu/styles";
@import "./components/test";
@import "./components/fonts";
@import "./components/kolumne";
@import "./components/footer";
